<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAhIs_WvhdPAP09P9ujPymZVMqD6-V_0Gk</string>
	<key>GCM_SENDER_ID</key>
	<string>1048710612522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alkanfatih.E-Commerce</string>
	<key>PROJECT_ID</key>
	<string>programmatic-e-commerce</string>
	<key>STORAGE_BUCKET</key>
	<string>programmatic-e-commerce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048710612522:ios:ae91cb1049c5ad7c636553</string>
</dict>
</plist>